# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual envs
venv/
.venv/
ENV/
env/

# IDE/editor
.idea/
.vscode/
*.code-workspace

# System
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# Byte-compiled / cache
*.log

# Docker
*.pid
.dockerignore


